@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent .container {
  position: relative;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); */
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
}

.tabcontent .container header {
    font-size: 1.5 rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.tabcontent .container .form {
    margin-top: 3opx;
}

.tabcontent .form .input-box {
    width: 100%;
    margin-top: 20px;
}

.tabcontent .input-box label {
    color: #333;
}

.tabcontent .form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    /* background: transparent; */
}

.tabcontent .form button {
    height: 55px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    background-color: lightcoral;
}

.tabcontent table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.tabcontent table th, td {
    border: 2px solid black;
    height: 50px;
    text-align: left;
    padding: 8px;
}

/* Menambahkan gaya CSS untuk tabel */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.tabcontent table tr:nth-child(even) {
    background-color: #f2f2f2;
}